body {
    background: #fff;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-image: url("Img/lifechoicesbg.f545ec917398.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 14px;
    color: white;
}
nav{
    display: none !important;
}
#Logo{
    height: 40px;
    margin-top: 8px;
}
h1{
    margin: 18px 0 ! important;
    font-family: 'Caveat', cursive;
    color: #ffffff;
    text-shadow: 1px 1px 2px #343a40;
}
#UserDropdown{
    background-color: transparent;
    border: none;
}
#UserDropdown:focus, #UserDropdown:active{
    border: none;
    outline: none;
}
#UserDropdown img{
    height: 40px;
}
.dropdown-menu-right{
    margin-top: 15px;
    border: none;
    background-color:#343a40;
}
.dropdown-item{
    color: #ffffff !important;
}
.dropdown-item:hover{
    background-color: #343a40;
}
#MainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    width: 100vw ! important;
    background-color: rgba(0,0,0,0.38);
    padding: 0;
    margin: 0;
}
#LoginArea{
    max-width: 800px;
    height: 70%;
    margin-top: 10%;
    display: block;
}
#LoginHeader{
    text-align: center;
    color: #ffffff;
}
#LoginHeader h3{
    font-size: 20px;
    font-weight: 800;
}
#LoginHeader img{
    width: 60%;
}
#LoginInputArea{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    padding: 0 14%;
}
input, input:focus{
    background-color: rgba(0,0,0,0.38);
    color: #ffffff;
    border-radius: 10px;
    height: 45px;
    border: none;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 12px;
    outline: none;
}
input::placeholder{
    color: rgba(225,225,225, 0.5);
}
button, button:focus, #SubmitButton, #SubmitButton:focus{
    border-radius: 10px;
    height: 55px;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: #abcc38;
    font-weight: 800;
    font-size: 14px;
    outline: none;
}
p{
    color: #ffffff;
}

a, a:hover, a:active a:focus{
    text-decoration: none;
    color: #abcc38;
    font-weight: 600;
    margin-top: -20px;
}
#RegisterArea{
    display: none;
    min-height: 240vh;
    width: 100vw;
    background-color: #ffffff;
    text-align: center;
}
#RegisterArea p{
    color: #0e0e0e;
}
#RegisterInputArea{
    display: flex;
    flex-direction: column;
    padding: 1% 15%;
}
#RegisterInputArea input{
    background-color: rgba(0,0,0,0.01);
    color: #0e0e0e;
    border: solid 1px rgba(0,0,0,0.38);
    }
#RegisterInputArea input::placeholder{
    color: rgba(0,0,0,0.7);
}
#RegisterHeader{
    margin-left: 15%;
    margin-top: 40px;
    text-align: left;
}
#RegisterHeader h3{
    color: #abcc38;
    font-weight: 600;
    margin-top: 10px;
}
#RegisterHeader a{
    color: #0e0e0e;
}
#SubmitButton{
    width: 200px;
}

.messages li{
    list-style: none;
}
