body {
    background: #fff;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    /*background-image: url("Img/lifechoicesbg.png ");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white !important;*/

}

#Logo{
    height: 40px;
    margin-top: 8px;
}
h1{
    margin: 18px 0 ! important;
    font-family: 'Caveat', cursive;
    color: #ffffff;
    text-shadow: 1px 1px 2px #343a40;
}
#UserDropdown{
    background-color: transparent;
    border: none;
}
#UserDropdown:focus, #UserDropdown:active{
    border: none;
    outline: none;
}
#UserDropdown img{
    height: 40px;
    width: 40px;
}
.dropdown-menu-right{
    margin-top: 15px;
    border: none;
    background-color:#343a40;
}
.dropdown-item{
    color: #ffffff !important;
}
.dropdown-item:hover{
    background-color: #343a40;
}
#SignInButton{
    color: #ffffff;
    margin: 13px 13px 0 0;
}
.notification-item{
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    background-color:#ceeb67;
    box-shadow: 2px 4px 4px rgba(168, 166, 151, 0.2);
    margin-bottom: 15px;
    font-size: 12px;
    color: #343a40;
    text-transform: uppercase;
}

#NavigationBox{
    width: 100%;
    margin-left: 0px;
}

#NavigationBox .card{
    border-radius: 10px;
    background-size: 100% 100%;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 4px 4px rgba(168, 166, 151, 0.2);
    margin-bottom: 15px;
    max-height: 250px;
    height: 200px;
    /*max-width: 34vw;*/
}
.icon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}
.icon-card h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #ABCC37;
    margin-top: 10px;
}
.col-6{
    padding-left: 0;
}

.account-img{
  width: 150px;
  height: 150px
}

@media (min-width: 992px){
    .icon-card{
        padding: 0 60px;
    }
    .col-6:nth-last-child(1){
    padding-right: 0;
}
}

<!--pending account styling-->
@font-face {
	font-family: caveat;
	src: url(/Fonts/caveat.regular.ttf);
}
.review,
.accpend {
	font-family: 'caveat';
	color: #abcc37 !important;
}
.pending-accounts {
	background-color: #545454;
	border-radius: 3px;
	display: block;
}
.acc-Names {
	color: white;
}
.review {
	font-size: 25px;
	text-decoration: none;
}
.review:hover {
	text-decoration: none;
	color: #abcc37;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
}


<!--account activation styling-->

.accpend {
	font-family: 'caveat';
	color: #abcc37;
}

.accreq {
	color: #abcc37;
}

.editinfo,
.declinebtn,
.approvebtn {
	border: none;
}

.editinfo {
	background-color: #93a9b6 !important;
}
.declinebtn {
	background-color: #545454 !important;
}
.approvebtn {
	background-color: #abcc37 !important;
}

.account-info,
.account-label {
	display: block;
}

.account-info {
	color: white;
}

.messages li{
    list-style: none;
}

#Logo{
    height: 40px;
    margin-top: 8px;
}

h1{
    margin: 18px 0 ! important;
    font-family: 'Caveat', cursive;
    color: #abcc37;
    text-shadow: 1px 1px 2px #343a40;
}
#UserDropdown{
    background-color: transparent;
    border: none;
}
#UserDropdown:focus, #UserDropdown:active{
    border: none;
    outline: none;
}
#UserDropdown img{
    height: 40px;
}
.dropdown-menu-right{
    margin-top: 15px;
    border: none;
    background-color:#343a40;
}
.dropdown-item{
    color: #ffffff !important;
}
.dropdown-item:hover{
    background-color: #343a40;
}
#SignInButton{
    color: #ffffff;
    margin: 13px 13px 0 0;
}
.notification-item{
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    background-color:#ceeb67;
    box-shadow: 2px 4px 4px rgba(168, 166, 151, 0.2);
    margin-bottom: 15px;
    font-size: 12px;
    color: #343a40;
    text-transform: uppercase;
}

#NavigationBox{
    width: 100%;
    margin-left: 0px;
}

h3{
    color: #abcc37;
    text-shadow: 1px 1px 2px #343a40;
}
#NavigationBox .card{
    border-radius: 10px;
    background-size: 100% 100%;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 4px 4px rgba(168, 166, 151, 0.2);
    margin-bottom: 15px;
    max-height: 250px;
    height: 200px;
    /*max-width: 34vw;*/
}
.icon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}
.icon-card h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #ABCC37;
    margin-top: 10px;
}
.col-6{
    padding-left: 0;
}

@media (min-width: 992px){
    .icon-card{
        padding: 0 60px;
    }
    .col-6:nth-last-child(1){
    padding-right: 0;
}
}
.LeaveDiv{
    display: flex;
}
.leave-item{
    background-color: #ffffff;
    border-radius: 6px;
    height: 120px;
    width: 120px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-bottom: 15px;
    color: black !important;
}
.leave-item h3{
    color: #ABCC37;
    font-weight: 900;
    margin: 0;
    font-size: 40px !important;
    line-height: 43px;
    margin-top: 10px;
}
.leaveBtn{
    background-color: #ABCC37;
    color: #ffffff;
    border-radius: 6px;
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-right: 15px;
    cursor: pointer;
}
#LeaveBtns{
    display: flex;
}
#RequestLeaveArea{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
#RequestLeaveArea h6{
    margin-top: 15px;
}
input, select, textarea{
    height: 40px;
    padding: 10px;
    border: solid 1px #cacaca;
    border-radius: 3px;
}
textarea{
    resize: none;
    height: 200px;
}
#SubmitButton{
    background-color: #ABCC37;
    color: #ffffff;
    border-radius: 6px;
    height: 40px;
    width: 160px;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-right: 15px;
    cursor: pointer;
    padding: 5px 50px;
    border: none;
}
/*Chat*/
.chathead {
	background-color: #545454;
	color: white;
}

.messagebox {
	background-color: rgb(31, 30, 30, 0.6);
	border-radius: 20px;
	color: white;
}
/*.chatbackground {
	background-image: url("Img/mesg2.jpg ");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}*/
.chatImg {
	height: 50px;
	width: 50px;
	border-radius: 50px;
}

.chattextr {
	text-align: right;
}
.accountcolor {
background-color: rgb(31, 30, 30, 0.3);
}

.navdrop:hover,
.navdrop {
text-decoration: none !important;
color: white;
}
/* admin */
.adminacc,
.adminleave {
	background-color: #d9d9d9;
	border-radius: 10px;
	/* height: 50px; */
}
.adminpen {
}
.adminhead {
	color: #abcc37;
}
.adminbg {
color: black;
background: none;
}

.adminbtn {
   background-color: #abcc37 !important;
   background: #abcc37 !important;
   border: none;
}
/* checkin */
.covidbtn {
	height: 60px;
	width: 200px;
	border-radius: 10px;
	background-color: #abcc37;
	color: white;
}
.checkinbtn {

}
}
.covidbtn {
	background-color: rgb(171, 204, 55, 0.5);
}
.checktick {
	color: #abcc37;
}
.checkinbg {
color: black;
}
/*account profile */
.profilepic {
	height: 200px;
	width: auto;
	position: center;
}
/*.accpro {
color : black;
}*/
/* print covid*/
table, th, td {
  border: 2px solid white !important;
  padding:5px;
}

.printbtn{
background: #abcc37 !important;
border:none;
}
/*checkinoffsite */
h4 {
 margin: 18px 0 ! important;
    font-family: 'Caveat', cursive;
    color: #abcc37;
    text-shadow: 1px 1px 2px #343a40;
}

.offsitebtn {
background-color: #abcc37 !important;
border: none;
}

.btn-primary {
background-color: #abcc37 !important;
border: none;
}

.pendleavepop {
color: black;
}
/*
calendar*/
main {
	grid-area: content;
	padding: 48px;
}

.menu {
	grid-area: menu;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.calendar__week,
.calendar__header {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.calendar__week {
	grid-auto-rows: 100px;
	text-align: right;
}

.calendar__header {
	grid-auto-rows: 50px;
	align-items: center;
	text-align: center;
}

.menu__item--active .menu__icon {
	color: var(--red);
}
.menu__item--active .menu__text {
	color: black;
}

.menu__item:hover {
	color: black;
}

.copyright {
	font-size: 0.7rem;
	font-weight: 400;
}

.calendar {
	background-color: white;
	border: 1px solid #e1e1e1;
}

.calendar__header > div {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.calendar__day {
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}

.calendar__day:last-child {
	border-right: 0;
}
.calbg{
color: black;
}

