{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
            <div class="row text-center">
                <h1 class="col">Check into work outside</h1>
            </div>
    <div class="row text-center">
                <div class="col-12">
                <h4>I am</h4>
                </div>
                <div class="col-12">
                     <input type="checkbox"/>
                     <span>Working in the field</span>

                </div>
                <div class="col-12  pb-3">
                    <i class="fas fa-map-marker-alt">{{location}}</i>
                </div>
                <div class="col-12">
                    <input type="checkbox"/>
                    <span>Working from home</span>
               </div>

            </div>
            <div class="row">
                <form method="POST" action="" class="col-md-12 text-center ">
                    <h4>
                    Notify others
                </h4>
                {% csrf_token %}
                <fieldset class="form-group d-none">
                    <input class="form-control form-control-sm" name="latitude" id="latitude" />
                    <input class="form-control form-control-sm" name="longitude" id="longitude" />
                </fieldset>
                <div class="form-group">
                    <input type="checkbox" name="remote_work" checked/>
                    <span>notify manager & staff that I will be working out of office</span>
               </div>
                    <div class="row">
                <div class="col-md pt-3">
                    <button class="btn covidbtn" type="submit">Check in</button>
                </div></div>
            </form>


            </div>
		</div>
{% endblock content %}