{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container checkinbg">
        <div class="row text-center">

            <h1 class="col-12 accpend "> Check into Life Choices</h1>
                <h4 class="col-12 "><i class="fas fa-map-marker-alt"><span class="accpend">{{location}}</span></i></h4>
                <span class="col-12">Your location matches the Life Choices Building. Sign in Below</span>
        </div>
    <div class="row py-3">
        <div class="col-md-12 text-center">
        <button class="btn covidbtn ">Covid Sreening</button>
        </div>
        <div class="col-md-12 text-center pt-3">
            <span><i class="fas fa-check-circle fa-2x checktick pr-2"></i>Covid screening complete</span>
        </div>
        <form method="POST" action="" class="col-md-12 text-center pt-3">
             {% csrf_token %}
            <fieldset class="form-group d-none">
                    <input class="form-control form-control-sm" name="latitude" id="latitude" />
                    <input class="form-control form-control-sm" name="longitude" id="longitude" />
            </fieldset>
            <div class="row">
            <div class="col-md-12 text-center pt-3">
            <button class="btn checkinbtn btn-primary" type="submit">Check in</button>
            </div></div>
        </form>

    </div>
</div>
{% endblock content %}




