{% extends 'base.html' %}
{% load static %}
{% block content %}

 <div class="container">
        <div class="row text-center">

            <h1 class="col-12 accpend "> Hey, User</h1>
                <h4 class="col-12 "></h4>
                <span class="col-12">You are Signed into
                    <i class="fas fa-map-marker-alt"><span class="accpend">Life choices office</span></i>
                    <br/>since 11:00 </span>
        </div>
    <div class="row py-3">
        <div class="col-md-12 text-center pt-3">
            <button class="btn btn-primary">Sign out</button>
        </div>
    </div>
</div>

{% endblock content %}