{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
			<input
				type="hidden"
				name="csrfmiddlewaretoken"
				value="IO7Lo72j2x2dR4Qr0Nrso1x5TuG3w0386cjIDD7PIQUNCHgr1ECGukDImkF3E6zk"
			/>
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Covid-19 Questionnaire</legend>
				<div class="form-group">
					<div id="div_id_temperature" class="form-group">
						<label for="id_temperature" class="requiredField">
							Temperature<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input
								type="number"
								name="temperature"
								step="0.01"
								class="numberinput form-control"
								required=""
								id="id_temperature"
							/>
						</div>
					</div>
					<div class="row">
					<div class="form-group col-md-4">

						<div id="div_id_Shortness_of_breath" class="form-check col-md-4">
							<label for="id_Shortness_of_breath" class="form-check-label">
								Shortness of breath
							</label>

							<div class="row">
								<div class="pr-3">
									<label class="switch">
									  <input name="Shortness_of_breath" id="id_Shortness_of_breath" type="checkbox">
									  <span class="slider round">yes</span>
									</label>
								</div>

							</div>
						</div>
						<div class="form-group col-md-4">
						<div id="div_id_sore_throat" class="form-check">
							<label for="id_sore_throat" class="form-check-label">
								Sore throat
							</label>
							<div class="row">
								<div class="pr-3">
									<label class="switch">
									  <input name="sore_throat" id="id_sore_throat" type="checkbox">
									  <span class="slider round">yes</span>
									</label>
								</div>
							</div>
						</div>
					</div>
							<div class="form-group col-md-4">
						<div id="div_id_loss_of_taste_or_smell" class="form-check">
							<label for="id_loss_of_taste_or_smell" class="form-check-label">
								Loss of taste or smell
							</label>
							<div class="row">
								<div class="pr-3">
									<label class="switch">
									  <input name="loss_of_taste_or_smell" id="id_loss_of_taste_or_smell" type="checkbox">
									  <span class="slider round">yes</span>
									</label>
								</div>

							</div>
						</div>
					</div>
							<div class="form-group col-md-4">
						<div id="div_id_contact_with_Covid" class="form-check">
							<label for="id_contact_with_Covid" class="form-check-label">
								Contact with Covid
							</label>
							<div class="row">
								<div class="pr-3">
									<label class="switch">
									  <input name="contact_with_Covid" id="id_contact_with_Covid" type="checkbox">
									  <span class="slider round">yes</span>
									</label>
								</div>

							</div>
						</div>
					</div>
							</div> <!--rowend-->
					</div>
<!--					rowstart-->
					<div class="row">


					<div class="form-group col-md-4">
						<div id="div_id_nasal_congestion" class="form-check">
							<label for="id_nasal_congestion" class="form-check-label">
								Nasal congestion
							</label>
							<div class="row">
								<div class="pr-3">
									<label class="switch">
									  <input name="nasal_congestion" id="id_nasal_congestion" type="checkbox">
									  <span class="slider round">yes</span>
									</label>
								</div>

							</div>
						</div>
					</div>
					<div class="form-group col-md-4">
						<div id="div_id_diarrhea" class="form-check">
							<label for="id_diarrhea" class="form-check-label">
								Diarrhea
							</label>
							<div class="row">
								<div class="pr-3">
									<label class="switch">
									  <input name="diarrhea" id="id_diarrhea" type="checkbox">
									  <span class="slider round">yes</span>
									</label>
								</div>

							</div>
						</div>
					</div>
					<div class="form-group col-md-4">
						<div id="div_id_nausea" class="form-check">
							<label for="id_nausea" class="form-check-label"> Nausea </label>
							<div class="row">
								<div class="pr-3">
									<label class="switch">
									  <input name="nausea" id="id_nausea" type="checkbox">
									  <span class="slider round">yes</span>
									</label>
								</div>
							</div>
						</div>
					</div>
						</div>
				</div>
			</fieldset>
			<button class="btn btn-primary covidqbtn" type="submit">Submit</button>
		</div>
{% endblock content %}