{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="container-fluid">
       <h1>Hey, {{ user.user_name }}</h1>
    <div id="NotificationBox">
        {% if user.is_active  %}
            {% if pending_accounts.count > 0 %}
                <a href="{% url 'users:pending-accounts' %}"><div class="notification-item">{{ pending_accounts.count }} Pending accounts</div></a>
            {% endif %}
            {% if leaves_applications.count > 0 %}
                <a href="{% url 'admin_portal:pending-leaves' %}"><div class="notification-item">{{ leaves_applications.count }} Pending Leaves</div></a>
            {% endif %}
        {% endif %}
        <div class="notification-item">You have 7 new messages</div>
    </div>
    <div id="NavigationBox" class="row gutter">
        <div class=" col-6 col-md-4 col-lg-3">
            <a href="/#!">
            <div class="icon-card card">
                <img src="{% static 'admin_portal/Img/briefcase.png' %}"/>
                <h2>Check Into Life Choices</h2>
            </div>
            </a>
        </div>

        <div class=" col-6 col-md-4 col-lg-3">
            <a href="/#!">
            <div class="icon-card card">
                <img src="{% static 'admin_portal/Img/house-building.png' %}"/>
                <h2>Check Into Field or Home</h2>
            </div>
            </a>
        </div>
        <div class=" col-6 col-md-4 col-lg-3 d-none">
            <a href="/chat">
            <div class="icon-card card">
                <img src="{% static 'admin_portal/Img/conversation.png' %}"/>
                <h2>Messages</h2>
            </div>
            </a>
        </div>
        <div class=" col-6 col-md-4 col-lg-3">
            <a href="/leave-application">
            <div class="icon-card card">
                <img src="{% static 'admin_portal/Img/calendar-interface-symbol-tool.png' %}"/>
                <h2>Leave Days</h2>
            </div>
            </a>
        </div>

    </div>
    </div>

</div>
{% endblock content %}
