{% extends 'login_base.html'%}
{% load static %} 
{%block content %}


  <form method="POST" class="mx-5">
    <legend class="border-bottom mb-4">Login</legend>
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" name="email" value="email" placeholder="Username" />
      </div>

      <div class="form-group">
        <input class="form-control form-control-sm" type="password" name="password" placeholder="Password" />
      </div>
    <div class="form-group">
      Don't have an account <a href="{% url 'users:register' %}">REGISTER</a>
    </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>

{% endblock %}
