{% extends 'login_base.html'%}
{% load static %} 
{%block content %}


  <form method="POST" class="mx-5">
    <legend class="border-bottom mb-4">Login</legend>
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" name="username" placeholder="email" />
      </div>

      <div class="form-group">
        <input class="form-control form-control-sm" type="password" name="password" placeholder="Password" />
      </div>
    <div class="form-group">
      Don't have an account <a href="{% url 'users:register' %}">REGISTER</a>
    </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
    <small class="text-muted ml-2">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </small>
<!--    password_reset-->
  </div>


</form>

{% endblock %}
