{% extends 'login_base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{%block content %}
  <span><a href="{% url 'users:login' %}" style="text-decorations:none; color:inherit;"><i class="fas fa-arrow-left"></i></a></span>
  <form method="POST" class="mx-5">
    {% csrf_token %}
    <fieldset>
      <legend class="border-bottom mb-4">Reset Password</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Request Password Reset</button>
    </div>

</form>
{% endblock %}
