{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Leave Requests</h1>
            {% for leave in leave_applications %}
                <div class='leave-req-item'>
                    <h5>{{ leave.user }}</h5>
                    <span data-toggle="modal" data-target="#exampleModal">Respond</span>
                </div>
            {% endfor %}
        </div>

    <!-- Modal -->
<div class="modal pendleavepop" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Leave Request for User Name Surname</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h6>Type: Study Leave</h6>
            <h6>From: 12 February 2021</h6>
            <h6>To: 18 February 2021</h6>
            <h6>Number of working days: 5</h6>
            <h6>Additional information: none</h6>
            <h6>Certificate or relevant files:</h6>
            <div id="ViewFilesBtn">view</div>
            <textarea placeholder="Type Message Here"></textarea>
            <div id="LeaveReqBtns">
                <button id="DeclineBtn">decline</button>
                <button id="ApproveBtn">approve</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}